@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --backgroundImage: radial-gradient(circle, var(--tw-gradient-stops));
  --font-title: var(--font-var-title);
}
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

h1,
h2,
h3 {
  font-family: var(--font-var-title);
}
:root {
  --background: #ffffff;
  --foreground: #353535;
  --primary: 25, 123, 100;
  --secondary: 32, 93, 112;
  --bars: #ddd;
}

[data-theme='dark'] {
  --background: #121212;
  --foreground: #ccc;
  --bars: #232323;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::selection {
  background: rgb(var(--primary));
  color: #fff;
}
