@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');
@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --backgroundImage: radial-gradient(circle, var(--tw-gradient-stops));
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: ;
  --foreground: #353535;
  --primary: #197b64;
  --secondary: #205d70;
  --bars: #ddd;
}

[data-theme='dark'] {
  --background: #121212;
  --foreground: #ccc;
  --primary: #197b64;
  --secondary: #205d70;
  --bars: #232323;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::selection {
  background: var(--primary);
  color: #fff;
}
